HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**
#!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ngapp/dist
ngapp/dist-server
ngapp/tmp
ngapp/out-tsc

# dependencies
ngapp/node_modules

# IDEs and editors
ngapp/.idea
ngapp/brigde-loan-ui-metronic-skeleton.iml
ngapp/bridge-loan-ui.iml
ngapp/.project
ngapp/.classpath
ngapp/.c9/
ngapp/*.launch
ngapp/.settings/
ngapp/*.sublime-workspace

# IDE - VSCode
ngapp/!.vscode/settings.json
ngapp/!.vscode/tasks.json
ngapp/!.vscode/launch.json
ngapp/!.vscode/extensions.json

# misc
ngapp/.sass-cache
ngapp/connect.lock
ngapp/coverage
ngapp/libpeerconnection.log
ngapp/npm-debug.log
ngapp/testem.log
ngapp/typings

# e2e
ngapp/e2e/*.js
ngapp/e2e/*.map

# System Files
ngapp/.DS_Store
ngapp/Thumbs.db
ngapp/package-lock.json

ngapp/yarn-error.log
